.cell-approved {
  border: 2px solid green !important;
}

.cell-declined {
  border: 2px solid red !important;
}

body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.time-cell {
  transition: background-color 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: rgba(173, 216, 230, 0.343);
  }
}
